<html><head>
<title> Mondo Pizza </title>
<style>
	body {
		font: normal 14pt verdana;
		background-color: #D0DDD0;
	}
	
	#main_area {
		width: 50%;
		border: 2px solid #333333;
		padding: 2em;
	}
	
	.topping_list {
		border: 1px solid black;
	}
	
	h1 {
		font-weight: bold;
		font-size: 20pt;
		color: #2244DD;
	}
	
</style>
<body>
<div id="main_area">
<%= @main_content %>
</div>
</body></html>
