<html><head>
<title> Mondo Pizza </title>
<style>
	body {
		font: normal 14pt sans-serif;
	}
	
	#main_area {
		width: 600px;
		border: 2px black;
		padding: 2em;
		background-color: #CCCCFF;
		margin-top: 15px;
		text-align: left;
	}
	
	img {
		padding: 1px;
	}
	
	#topping_list {
		border: 1px solid black;
		padding: 2px;
		background-color: #FFDDDD;
		margin: 2px;
	}
	
	#pizza_name {
		font-weight: bold;
		text-decoration: underline;
		font-size: 14pt;
	}
	
	h1 {
		border-bottom: 1px dashed #dd8888;
		padding-bottom: 3px;
		font-size: 20pt;
	}
	
	#pizza_box {
		border: 1px solid black;
		background-color: #d0d0d0;
		margin: 3px;
		padding: 5px;
		padding-bottom: 10px;
		margin-left: 20%;
		margin-right: 20%;
	}
	
	#error {
		color: red;
		font-weight: bold;
	}
	
	#delete_link {
		font-size: 12pt;
		margin: 2px;
		padding: 2px;
		color: black;
		border: 2px solid black;
		background-color: #f0f0f0;
		text-align: right;
	}
	
</style>
<body>
<center>
<div id="logo">
<img src="images/logo.png" />
</div>
<div id="main_area">
<%= @main_content %>
</div></center>
</body></html>
