<html><head>
<title> Mondo Pizza </title>
<style>
	body {
		font: normal 14pt verdana;
		background-color: #D0DDD0;
	}
	
	#main_area {
		width: 50%;
		border: 2px solid #333333;
		padding: 2em;
		background-color: #DDCCCC;
	}
	
	#logo {
		border: 2px solid gray;
	}
	
	.topping_list {
		border: 1px solid black;
		padding: 2px;
		background-color: #FFDDDD;
		margin: 2px;
	}
	
	h1 {
		font-weight: bold;
		font-size: 20pt;
		color: #2244DD;
	}
	
	.pizza_box {
		border: 1px solid black;
		background-color: #d0d0d0;
	}
	
</style>
<body>
<div id="logo">
<img src="/images/logo.png" />
</div>
<div id="main_area">
<%= @main_content %>
</div>
</body></html>
