<html>
<body>
<h3>Please log in:</h3>
<br>
<font color="red"><% @error_field %></font>
<form name="login" method="post" action="login"> Login: <input name="loginname" type="text"><br>
Password: <input name="password" type="password"><br>
  <br>
  <input type="submit" id="login" value="Login"></form>
</body>
</html>