<h1>Welcome <%= @name %>!</h1>
<h3>What would you like to do?</h3>
<ul>
 <li><a href="make" id="make_pizza_link_id">Make</a> a pizza
 <li><a href="queue" id="view_queue_link_id">View</a> the pizza queue
</ul>
