<h3>Here are the pizzas we're making for you:</h3>
<br />
<% @pizzas.each do |pizza| %>
<div class='pizza_box'>
	<h3><%= pizza.name %></h3>
	<ul>
	<% pizza.each_topping do |topping| %>
		<li><%= topping %><br /></li>
	<% end %>
	</ul>
	</div>
<% end %>

